@import 'normalize';
@import 'settings';

// This does not appear to be used; the home page carousel is styled with
// the classes used by Foundation's "Orbit" carousel widget.
// @import 'owl.carousel';

@import 'compass/css3/images';
@import 'compass/css3/background-size';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/box-sizing';

@import 'foundation/components/visibility';
@import url('http://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

.button--arrows {
  padding-right: rem-calc(50) !important;
  &:after {
    display: block;
    content: '';
    width: 14px; height: 12px;
    background: url(image_path('arrows-bright.svg')) center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6px;
  }
  &.bright:after {
    background: url(image_path('arrows-white.svg')) center center no-repeat;
  }
  &.button--hydra:after {
    background: url(image_path('arrows-hydra.svg')) center center no-repeat;
  }
}

.file-wrapper {
  overflow: hidden;
  position: relative;
  margin-bottom: $form-spacing;
  input[type="file"] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 100px;
  }
  .button {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    &.hide {
      display: none;
    }
  }
}

/*==========  THEMES  ==========*/

.graded-text {
  color: $brand_gradient_from;
  background: -webkit-linear-gradient($brand_gradient_from, $brand_gradient_to);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hydra-theme.hydra-theme {
  @include background-image(linear-gradient(43deg, #527db2, #5cc6ca));
  a { color: #fff; }
  a:hover{ color: #fff; }
}
.snow {
  background: $snow;
}
.bright {
  @include background-image(linear-gradient(90deg, $brand_gradient_from, $brand_gradient_to));
  color: #fff !important;
  .vspace {
    margin: 1rem 0;
  }
}


/*==========  TOP BAR  ==========*/

@import 'foundation/components/top-bar';

.raised {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.top-bar-section li.active.active.active a {
  background: -webkit-linear-gradient($brand_gradient_from, $brand_gradient_to);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover {
    background: -webkit-linear-gradient($brand_gradient_to, $brand_gradient_from);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.main-logo {
  width: 90px;
  @media #{$large-up} {
    width: 120px;
  }
}

/*==========  TYPE  ==========*/

@import 'foundation/components/type';
code {
  background-color: rgba(black, 0.1);
  border-color: rgba(black, 0.2);
}
.nowrap {
  white-space: nowrap;
}

/*==========  CAROUSEL  ==========*/

@import 'foundation/components/orbit';

.hero {
  li {
    height: 725px;
    background-position: center center;
    background-repeat: no-repeat;
    color: #282828;
    &.invert {
      color: #fff;
    }
    @include background-size(cover);
    @media #{$medium-only} {
      height: 500px;
    }
    @media #{$small-only} {
      height: 200px;
    }
  }
}

.centered-slide {
  text-align: center;
}
.centered-slide__caption {
  position: absolute;
  bottom: 15%;
  left: 0; right: 0;
  @media #{$small-only} {
    bottom: 0;
  }
}

.left-caption {
  position: relative;
  margin-top: 10%;
  padding: 0 1.875rem; // Match .top-bar padding
  width: 20em;
  font-weight: medium;
  @media #{$small-only} {
    margin-top: 5%;
  }
  .button {
    width: 100%;
    max-width: 240px;
  }
}

.left-caption--hydra {
  a {
    color: #5071ad;
    font-weight: bold;
  }
  p {
    @media #{$medium-up} {
      font-size: 1.25rem;
      margin-bottom: 1.6em;
    }
  }
  .button {
    border-color: #5277b0;
  }
}

.left-caption--team {
  p {
    @media #{$medium-up} {
      font-size: 1.25rem;
      margin-bottom: 1.6em;
    }
  }
  a {
    color: #e47125;
    font-weight: bold;
  }
}

.left-caption--arkham {
  p {
    @media #{$medium-up} {
      font-size: 1.25rem;
      margin-bottom: 1.6em;
    }
    color: rgba(white, 0.8);
    text-shadow: 0px 1px 1px #000;
  }
}

.orbit-prev,
.orbit-next,
.orbit-timer {
  display: none;
}

.orbit-container .orbit-bullets-container {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
}

.orbit-bullets {
  margin-bottom: 60px;
  li {
    color: #fff;
    border: 1px solid #c7c6c6;
    margin-right: 23px;
    &.active {
      border-color: transparent;
    }
  }
}

/*==========  SECTIONS  ==========*/

.agora-intro {
  padding: rem-calc(30) 0;

  p {
    margin: rem-calc(20) 0 0;
  }

  @media #{$medium-up} {
    background: url(image_path('intro-bg-medium.jpg')) center center no-repeat;
    padding: rem-calc(100) 0;
    p {
      margin: rem-calc(30) 0 0;
    }
  }
  @media #{$large-up} {
    background: url(image_path('intro-bg.jpg')) center center no-repeat;
    p {
      margin: rem-calc(30) 0 rem-calc(100);
    }
  }
}

.agora-stats {
  padding-bottom: rem-calc(50);
}

.agora-about, .agora-team, .agora-partners {
  padding: rem-calc(60) 0;
  h2 {
    margin-bottom: rem-calc(30);
  }
  padding: rem-calc(30) 0;
  @media #{$medium-up} {
    padding: rem-calc(60) 0;
  }
}

.agora-contact {
  border-top: 1px solid #d1d1d2;
  padding: rem-calc(30) 0 0;
  @media #{$medium-up} {
    padding: rem-calc(60) 0 0;
  }
}

/*==========  LABELS  ==========*/

@import 'foundation/components/labels';

.label {
  background: #e6e6e5;
  text-transform: uppercase;
}

/*==========  BLOCKGRID  ==========*/

// @import 'foundation/components/block-grid';

/*==========  INLINE LISTS  ==========*/

@import 'foundation/components/inline-lists';


/*==========  FORMS  ==========*/

@import 'foundation/components/forms';


/*==========  TABS  ==========*/

@import 'foundation/components/tabs';

.tabs--center {
  display: inline-block;
  padding-bottom: rem-calc(30);
  li {
    &+li {
      border-left: 1px solid #d1d1d2;
    }
    a {
      padding: 0 rem-calc(20) !important;
    }
  }
  h2 {
    margin: 0;
    @media #{$small-only} {
      font-size: rem-calc(20);
    }
  }
  // Shitty hack
  &.tabs--compact li a {
    padding: 0 rem-calc(10) !important;
  }
}

.tabs--compact {
  padding-bottom: 0;
}

// Hack for side scrolling tabs
.tabs-content--anim {
  overflow: hidden;
  width: 100%;
  position: relative;
  white-space: nowrap;
  .content {
    top: 0;
    overflow: hidden;
    white-space: normal;
    position: absolute;
    @include transition(all 0.5s ease);
    @include transform(translateX(100%));
    display: block !important;
  }
  .content.active {
    position: static;
    @include transform(translateX(0));
  }
}

/*==========  ETC  ==========*/

.stat-wrapper {
  display: block;
  width: 100%;
  position: relative;
}

.jumbo-stat {
  line-height: 1;
  font-weight: 100;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  font-size: rem-calc(100);
  @media #{$large-only} {
    font-size: rem-calc(130);
  }
  @media #{$xlarge-up} {
    font-size: rem-calc(180);
  }
}
.jumbo-stat__value {
  line-height: 1;
  vertical-align: top;
}
.jumbo-stat__measure {
  line-height: 1;
  font-size: rem-calc(70);
  vertical-align: top;
  @media #{$large-only} {
    font-size: rem-calc(85);
  }
  @media #{$xlarge-up} {
    font-size: rem-calc(115);
  }
}

.timeline {
  font-size: 0;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  @media #{$large-up} {
    margin-left: -$column-gutter;
  }
}
.timeline__item {
  vertical-align: top;
  display: inline-block;
  white-space: normal;
  padding: 0 $column-gutter;
  width: 100%;
  @media #{$medium-up} {
    width: 50%;
  }
  @media #{$large-up} {
    width: 25%;
    padding: 0 0 0 $column-gutter;
  }
}

.timeline-item {
  text-align: center;
  position: relative;
  h5 {
    text-transform: uppercase;
    color: #4c4b4c;
    font-weight: 500;
  }
  hr {
    width: 25%;
    margin: 10px auto;
  }
  a {
    color: $brand_mid;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    font-size: rem-calc(14);
  }
}
.timeline-item__label {
  text-transform: uppercase;
  font-size: rem-calc(14);
  padding-top: rem-calc(5);
}
.timeline-item__image {
  height: 160px;
  position: relative;
  img {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
  }
  &:before,
  &:after {
    position: absolute;
    right: -$column-gutter/1.7;
    top: 50%;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: rem-calc(15) solid transparent;
    border-bottom: rem-calc(15) solid transparent;
    @include transform(translateY(-50%));
  }
  &:before {
    border-left: rem-calc(15) solid $brand_mid;
  }
  &:after {
    border-left: rem-calc(15) solid $snow;
    @include transform(translateX(-1px) translateY(-50%));
  }
  .timeline-item--last &:before,
  .timeline-item--last &:after {
    display: none;
  }
}

.partners {
  list-style: none;
  font-size: 0;
  margin: 0;
  li {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    img {
      max-width: 100%;
    }
    img {
      zoom: 74%; // TODO -- temporary placement
    }
    padding: rem-calc(20) rem-calc(5);
    @media #{$medium-up} {
      padding: rem-calc(20) rem-calc(40);
    }
  }
}

.oss {
  font-size: 0;
  color: #878787;
  text-align: left;
  margin-left: -5rem;
  margin-top: -2rem;
  h5 {
    text-transform: uppercase;
    color: #4c4b4c;
  }
  p {
    font-size: 1.005em; // 18px
  }
  a.cta {
    color: #ba5a27;
    border-bottom: 1px solid currentColor;
  }
}
.oss__col {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding-left: 5rem;
  padding-top: 2rem;
}

.oss__col--intro {
  .jumbo-stat {
    line-height: 1;
    left: auto !important;
    margin-left: auto !important;
  }
  @media #{$medium-up} {
    width: 25%;
    text-align: center;
  }
}
.oss__col--list {
  @media #{$medium-up} {
    width: 75%;
  }
}

.oss-list {
  font-size: 0;
  margin-left: -5rem;
  margin-top: -1rem;
  &>li {
    padding-left: 5rem;
    padding-top: 1rem;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    @media screen and (min-width: 550px) {
      width: 50%;
    }
    @media #{$large-up} {
      width: 33.33%;
    }
  }
  h5>a {
    border-bottom: 1px solid currentColor;
  }
}

.team {
  font-size: 0;
  padding: 0 rem-calc(10);
  margin-left: rem-calc(-10);
  margin-top: rem-calc(-10);
  @media #{$medium-up} {
    margin-right: -60px;
    margin-bottom: -60px;
  }
}
.team__item {
  display: inline-block;
  width: 50%;
  padding-left: rem-calc(10);
  padding-top: rem-calc(10);
  vertical-align: top;
  @media #{$medium-up} {
    width: 20%;
    padding-right: 60px;
    padding-bottom: 60px;
  }
}

.team-member {
  text-align: center;
  display: block;
  position: relative;
  color: inherit;
  h4 {
    color: #4c4b4c;
  }
  img {
    border-radius: 50%;
    border: 1px solid $ghost;
    width: 100%;
    height: 100%;
    margin-bottom: rem-calc(10);
  }
  &:hover {
    color: inherit;
  }
  a {
    text-transform: uppercase;
    text-decoration: underline;
  }
  h5 {
    text-transform: uppercase;
  }
}
.team-member__label {
  text-align: center;

}

.team-member--emailable {
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding-bottom: 100%;
    background: url(image_path('team-email.png')) center center no-repeat;
    opacity: 0;
  }
  .no-touch &:hover {
    &:after { opacity: 1; }
    img {
      @include background-image(linear-gradient(90deg, $brand_gradient_from, $brand_gradient_to));
      border-color: $brand_gradient_from;
    }
  }
}

.team-member--available {
  span:after {
    display: block;
    content: 'Job Available';
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    top: 50%; left: 10px; right: 10px;
    @include transform(translateY(-50%));
    margin: auto;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    font-size: rem-calc(20);
    font-weight: bold;
  }
  img {
    background: #ccc;
  }
}


.career {
  text-align: left;
}
.career__col {
  font-size: 1rem;
  li, p {
    font-size: 1.005em; // 18px
  }
}

.force-square {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  display: block;
  position: relative;
  img {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
  }
}

.logos-list {
  list-style: none;
  margin: rem-calc(10) 0;
  li {
    display: inline-block;
    vertical-align: middle;
    padding: rem-calc(20);
  }
  @media #{$medium-up} {
    margin: rem-calc(60) 0;
    li {
      padding: 0 rem-calc(20);
    }
    li+li { border-left: 1px solid $ghost; }
  }
}

.blog-page-title {
  border-bottom: 1px solid $hr-border-color;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
.blog-page-subtitle {
  @include grid-row();
  h2 {
    @include grid-column($columns: 11, $push: 1);
    margin-bottom: 1rem;
  }
}

.blog-entry-list {
  .blog-entry {
    @include grid-row();
  }
  .blog__date {
    @include background-image(linear-gradient(43deg, #527db2, #5cc6ca));
    @include grid-column(1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.1;
    padding: 0.25rem 0.5rem;
  }
  .blog__contents {
    @include grid-column(11);
  }
}

.blog-entry + .blog-entry {
  margin-top: 2rem;
}
.blog__title {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}
.blog__author {
}
.blog__body {
  margin-top: 1rem;
  p {
    margin: 0 0 0.5rem;
  }
}

.blog-pagination {
  margin: 2rem 0;
}

.blog-archives-sidebar {
  h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
  }
  h3 {
    font-size: 1.25rem;
    margin: 0 0 0.5rem;
  }
  ul {
    list-style-type: none;
    margin: 0 0 1rem;
  }
}

// Or selectively include components
// @import
//   'foundation/components/accordion',
//   'foundation/components/alert-boxes',
//   'foundation/components/block-grid',
//   'foundation/components/breadcrumbs',
//   'foundation/components/button-groups',
//   'foundation/components/buttons',
//   'foundation/components/clearing',
//   'foundation/components/dropdown',
//   'foundation/components/dropdown-buttons',
//   'foundation/components/flex-video',
//   'foundation/components/forms',
//   'foundation/components/grid',
//   'foundation/components/inline-lists',
//   'foundation/components/joyride',
//   'foundation/components/keystrokes',
//   'foundation/components/labels',
//   'foundation/components/magellan',
//   'foundation/components/orbit',
//   'foundation/components/pagination',
//   'foundation/components/panels',
//   'foundation/components/pricing-tables',
//   'foundation/components/progress-bars',
//   'foundation/components/reveal',
//   'foundation/components/side-nav',
//   'foundation/components/split-buttons',
//   'foundation/components/sub-nav',
//   'foundation/components/switches',
//   'foundation/components/tables',
//   'foundation/components/tabs',
//   'foundation/components/thumbs',
//   'foundation/components/tooltips',
//   'foundation/components/top-bar',
//   'foundation/components/type',
//   'foundation/components/offcanvas',
//   'foundation/components/visibility';
