---
title: Agora » DevOps Engineer
home: false
---

.bright
  .row
    .columns
      %h2.vspace DevOps Engineer

%br
.row
  .columns.medium-6
    = partial 'job_intro'

    %p
      Warner Bros. Games Inc. seeks a DevOps Engineer for its studio based in Troy, NY. As a DevOps Engineer at WB Games New York (a subsidiary of Warner Bros. Interactive Entertainment), you will be working primarily on our online game services platform called "Hydra Studio”, in addition to some other internal technologies.

    %p
      You will be responsible for assisting in the management of the infrastructure behind very complex data processing and presentation tools that integrate tightly with some of the industry's biggest game franchises. You will work as part of a highly talented team of producers, engineers, and business specialists to expand the Hydra platform, and ensure an efficient and stable environment for WB Games' catalogue of products.

    %h5 Job Responsibilities
    %ul
      %li Design, implement, and support tools and process to automate and improve infrastructure visibility and supportability
      %li Collaborate with software engineers to improve supportability, stability, and robustness of custom server software and infrastructure
      %li Write and review code, develop documentation, and debug problems, live, on very complex systems
      %li Together with your engineering team, you will share an on-call rotation and be an escalation contact for service incidents
      %li Iterate and develop infrastructure tests to ensure platform stability
      %li Constant review, documentation, and improvement of the security of our infrastructure

    %h5 Job Requirements
    %ul
      %li Must be comfortable working in a Linux/Unix environment.
      %li Experience using system monitoring tools, and writing automated tests (we use Sensu)
      %li Experience with automation/configuration management (we use SaltStack and AWS Cloud Formation)
      %li Able to read and write software in Python or some other administrative language
      %li Experience supporting and maintaining a database (NoSQL experience is a plus, since we primarily use MongoDB, RedisDB, and ElasticSearch)
      %li Ability to work on a rotating shift, potentially including nights and weekends
      %li Must have excellent communication skills
      %li Ability to excel in a fast paced, startup-like environment
      %li Interest in working on-site at our office in Troy, NY

    %hr
    = partial 'job_perks'

    %hr
    = partial 'job_technology'

  .columns.medium-6
    = partial 'job_form', locals: { job: 'DevOps Engineer' }
