---
title: Agora » Infrastructure Engineer
home: false
---

.bright
  .row
    .columns
      %h2.vspace Infrastructure Engineer

%br
.row
  .columns.medium-6
    = partial 'job_intro'

    %p
      Warner Bros. Games Inc. seeks an Infrastructure Engineer for the Agora studio.  As an Infrastructure Engineer working with WB Games, you will ensure sound delivery of technical services across all gaming studios. You will be part of a team supporting a hosted and in-house infrastructure that delivers core gaming infrastructure services to internal developers and administrators. You will be providing a mixture of preventative support as well as integration activity around Windows Server environments, VMWare, Cisco, Palo Alto, NetApp, Perforce, Team City and more.

    %p
      You will also be working in a fast-paced environment driving performance and reliability from software, infrastructure and cloud environments on behalf of WB Games. You will tackle challenging, unique situations every day and work with other functions and employees within WB Games. You will be looked upon as a subject matter expert and advocate to fellow team members on making reliable technical decisions around supporting and deploying large-scale services and engineering complex systems that run some of our customer’s business critical systems.

    %p
      The successful candidate for this role will have strong analytical and troubleshooting skills, experience in integrating multi-technology platforms and brands of product, solid communication skills and a desire to tackle the complex problems of scale which are unique.

    %h5 Job Responsibilities
    %ul
      %li Maintain and monitor all network, security and computer systems to meet the organization's current and future requirements.
      %li Responsible for management, maintenance and architecture of storage, virtualized environment, servers, network devices, and productivity tools.
      %li Monitor systems and identify performance issues proactively.
      %li Work within strict time frames and elevate incidents within defined timeframes.
      %li Test all changes to networks, hardware, software, and hosted applications.
      %li Monitors service delivery compliance to budget, quality standards and customer and business stakeholder requirements.
      %li Cater to doing infrastructure coordination related to design and setup activities at different stages of a project.
      %li Work with various vendors and service providers to ensure productive environment.
      %li Resolve issues and prepare status reviews and reports.
      %li Professionally represent the infrastructure team as a technical consultant on projects.
      %li Maintain the necessary project plans and documentation of all system builds and modifications.
      %li Interact and coordinate with vendors, suppliers, distributors and contract consultants.
      %li Maintain a good working knowledge of current infrastructure and future trends.
      %li Maintain good working relationships with all service providers and vendor to ensure that services received meet expected requirements of contract.
      %li Perform other duties as assigned.

    %h5 Job Requirements
    %ul
      %li Minimum of 3 years similar experience in a similar environment.
      %li CS degree or equivalent experience required.
      %li Solid technical background in a hosted services environment including infrastructure networks, hardware, software and telecommunications.
      %li Experience with core infrastructure engineering services – compute, network, storage, database etc.
      %li Good knowledge of security as it relates to cloud based infrastructure.
      %li Experience using automated monitoring tools.
      %li Ability to identify incident trends in order to elevate incidents in accordance with standard protocols.
      %li Able to gather relevant information systematically to troubleshoot and resolve issues.
      %li Ability to work in a team environment.
      %li Good analytical, problem solving and decision making skills.
      %li Good attention to detail, testing and documentation.
      %li Knowledge of ITIL and industry best practices.
      %li Proven ability to work in a cloud based or hosting environment.
      %li Experience working with NetApp storage.
      %li Experience in Microsoft System Center.
      %li Proven track record with hosted desktop and published applications.
      %li Ability to maintain good working relationships with third party service providers and vendors.
      %li Strong oral and written communication skills.
      %li Tertiary degree in computer science or related areas an advantage.

    %hr
    = partial 'job_perks'

    %hr
    = partial 'job_technology'

  .columns.medium-6
    = partial 'job_form', locals: { job: 'Infrastructure Engineer' }
