---
title: Agora » Quality Assurance Intern
home: false
---

.bright
  .row
    .columns
      %h2.vspace Quality Assurance Intern

%br
.row
  .columns.medium-6
    = partial 'job_intro'

    %p
      Warner Bros. Games Inc. seeks Quality Assurance (QA) Interns for its studio based in Troy, NY. As a QA Intern at WB Games New York (a subsidiary of Warner Bros. Interactive Entertainment), you will be working primarily on our online game services platform called "Hydra Studio”, in addition to some other internal technologies. As an integral part of the team, you will execute test cases, research bugs, file detailed bug reports and verify developer bug fixes. You will work closely with the our of the development team, communicating issues directly to Producers and Engineers to ensure the quality of our product.

    %h5 Job Responsibilities
    %ul
      %li Document bugs with clear and straightforward reproducible steps and check similar issues that are being tested.
      %li Perform testing assignments with limited supervision.
      %li Identify issues outside of the normal test boundaries (testing outside the box).
      %li Maintain bugs in the database through their entire life cycle.
      %li Report on the user experience and test results, escalating when necessary.
      %li Run tests directly against our API via a command line interface

    %h5 Job Requirements
    %ul
      %li Must be comfortable using cURL commands to interact with a complex REST API.
      %li Able to write clear and concise bug reports that conform to the established bug writing standards of WB Games NY
      %li Able to identify bugs, duplicate them, perform additional research, and track the bug lifecycle
      %li A detail-oriented, organized thought process
      %li A proactive mindset, with the ability to multitask
      %li Have a positive attitude, good people skills, and the ability to work effectively in a team oriented environment
      %li Experience running commands from a CLI (Command Line Interface)
      %li Experience using and interacting with a REST API, and other web-based technologies
      %li Interest in working on-site at our office in Troy, NY
      %li Plays and enjoys video games!

    %hr

    %h5 Perks and advantages
    %ul
      %li An open and collaborative work space
      %li Free access to our gaming library
      %li What you work on will be used by millions of gamers all around the world, within some of the most popular IP in the video game industry.

    %hr
    = partial 'job_technology'

  .columns.medium-6
    = partial 'job_form', locals: { job: 'Quality Assurance Intern' }
