---
title: Agora » Senior Software Engineer
home: false
---

.bright
  .row
    .columns
      %h2.vspace Senior Software Engineer

%br
.row
  .columns.medium-6
    = partial 'job_intro'

    %p
      Warner Bros. Games Inc. seeks a Senior Software Engineer for the Agora Studio. As a Senior Software Engineer at Agora (a subsidiary of Warner Bros. Interactive Entertainment), you will be working primarily on our online game services platform called "Hydra Studio”, in addition to some other internal technologies. You will be responsible for creating complex data processing and presentation tools that integrate tightly with some of the largest franchises in the games industry. You will work as part of a highly talented team of producers, engineers, and business specialists to expand our systems and add value to WB Games' catalogue of products.

    %p
      We are looking for a candidate with the ability to quickly learn new platforms. We use many different technologies within Hydra, and while we don’t expect you to know them all coming in, we need a candidate who can quickly learn and be proficient with them!

    %h5 Job Requirements
    %ul
      %li 5 or more years of relevant experience
      %li Experience delivering large, complex, highly available software systems
      %li Experience developing and operating distributed systems
      %li Knowledge of design patterns, SOA, refactoring and unit testing
      %li Experience with web application servers, web development frameworks, proxy servers and relational databases
      %li A detail-oriented, organized thought process and the ability to act decisively under pressure
      %li A proactive mindset and the ability to multitask and prioritize requirements
      %li A self-motivated work process and excellent communication skills
      %li An understanding of system optimization issues
      %li Experience with system monitoring tools
      %li Interest in working on-site at our office in Troy, NY

    %hr
    = partial 'job_perks'

    %hr
    = partial 'job_technology'

  .columns.medium-6
    = partial 'job_form', locals: { job: 'Senior Software Engineer' }
