meta charset='utf-8'
meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'
meta name='viewport' content='width=device-width'
title= data.page.title || 'Agora Games'
link rel='shortcut icon' href==image_path('favicon.ico')

== stylesheet_link_tag 'all', :media => 'all'
/[ if lt IE 9 ]
  == javascript_include_tag 'vendor/html5shiv'
