.blog-archives-sidebar
  %h2 Blog archives

  - blog.articles.group_by { |a| a.date.year }.each do |year, articles|
    %h3
      = link_to year, blog_year_path(year)
    %ul
      - articles.group_by { |a| a.date.month }.each do |month, month_articles|
        %li
          = link_to "#{Date.new(year, month, 1).strftime('%B')} #{year}", blog_month_path(year, month)
