.fixed.raised

  %nav.top-bar{ role: 'navigation', data: { topbar: true } }
    %ul.title-area
      %li.name
        %h1
          %a{ href: '/' }
            = image_tag 'agoragames-new.svg', alt: 'Agora Games', class: 'main-logo'
      %li.toggle-topbar.menu-icon
        %a{ href: 'javascript:void(0)' }
          %span Menu

    %section.top-bar-section
      %ul.right
        %li
          %a{ href: (locals[:home] ? '#about' : '/#about'),
              data: { anchor: true } } About
        %li
          %a{ href: (locals[:home] ? '#team' : '/#team'),
              data: { anchor: true } } Team
        %li
          %a{ href: (locals[:home] ? '#contact' : '/#contact'),
              data: { anchor: true } } Contact
        %li
          %a{ href: '/blog' } Blog
        %li.hydra-theme
          %a{ href: 'http://hydra.agoragames.com' }
            = image_tag 'hydra-wordmark.svg', alt: 'Hydra', width: 92
