%h5 Submit your résumé

%form{ action: 'https://agoragames1.wufoo.com/forms/syqh5bw113il90/#public',
       method: 'post', autocomplete: 'off', enctype: 'multipart/form-data' }
  %input#idstamp{ name: 'idstamp', type: 'hidden', value: 'cT5HWqIRe+CokuX7DS7vYBfHnD5HjUXEBxePrGCd1sw=' }
  %input{ name: 'Field10', type: 'hidden', value: defined?(job) ? job : '' }
  %div{ style: 'display: none' }
    %label
      Do not fill in this field:
      %textarea#comment{ name: 'comment', rows: '1', cols: '1' }
  .field
    %label Full Name
    %input{ name: 'Field4', type: 'text', placeholder: 'Full Name' }
  .field
    %label Email Address
    %input{ name: 'Field5', type: 'email', placeholder: 'Email Address' }
  .field
    %label Cover Letter or Introduction
    %textarea{ name: 'Field9', rows: '10' }
  .field
    %label Attach a Résumé
    .file-wrapper
      .button.expand.no-file Select file…
      .button.expand.file.hide
      %input{ name: 'Field18', type: 'file' }
  %button{ type: 'submit' } Submit
