%h5 Perks and advantages
%ul
  %li Competitive salaries
  %li Benefits: medical, dental, and vision programs for you and your dependents
  %li Company-matching 401(k) retirement program
  %li Flexible work hours
  %li An open and collaborative work space
  %li We value a good work-life balance
  %li The code and systems you work on will be in production and used by millions of gamers all around the world, within some of the most popular IP in the video game industry.
