%h5 Technologies we use
%ul
  %li Languages: Python, C++, Ruby, C#, Java, JavaScript, TypeScript
  %li OS: Linux, Windows, OS X
  %li Databases: MongoDB, MySQL, Redis
  %li Frameworks: Rails, Node.js, Flask
  %li Misc: SaltStack, Git, RabbitMQ, ZeroMQ, Munin, Sensu, Sentry
