<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Band Hero
      </h1>
      <div class="callout">
        <a href="http://www.guitarhero.com/">
          visit website
        </a>
      </div>
      <div class="section-header">
        <p>
          <span>
            Xbox 360/PS3/Wii
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
      </div>
      <div id="content">
        <h2>
          Coming Soon
        </h2>
      </div>
    </section>
  </article>
</div>
