<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Blur
      </h1>
      <div class="callout">
        <a href="http://blurthegame.com">
          visit website
        </a>
      </div>
      <div class="section-header">
        <p>
          <span>
            Xbox 360/PS3
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
      </div>
      <div id="content">
      </div>
    </section>
  </article>
</div>
