<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Dance Dance Revolution
      </h1>
      <div class="callout">
      </div>
      <div class="section-header">
        <p>
          <span>
            Xbox 360
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
        <%= image_tag "content/portfolio/ddr-1.jpg" %>
        <%= image_tag "content/portfolio/ddr-2.jpg" %>
      </div>
      <div id="content">
        <h2>
          Overview
        </h2>
        <ul>
          <li>
            User Profiles
          </li>
          <li>
            Videos
          </li>
          <li>
            Dance Crews
          </li>
          <li>
            Developer Blog
          </li>
        </ul>
        <h3>
          User Profiles
        </h3>
        <p>
          Players have their own profile to display their scores, friends, videos, blog posts, crew affiliation, and more in one comprehensive and organized personal page.
        </p>
        <h3>
          Videos
        </h3>
        <p>
          Players can easily upload DDR videos to the community to share with others and show off their moves. Players can rate and comment on videos, as well as search for videos by a wide range of criteria including user, description, and video name.
        </p>
        <h3>
          Dance Crews
        </h3>
        <p>
          Players group together and form Dance Crews with their friends. Each crew gets its own page where all the members&#39; statistics are aggregated into a comprehensive crew rating. This allows players to compare their crew progress to other crews. Crews also have their own scoreboard as well as a dedicated forum.
        </p>
        <h3>
          Developer Blog
        </h3>
        <p>
          Game developers are able to keep in touch with their community through the developer blog. Insights into DDR, important news, and fun developer stories are highlighted. This allows players stay up to date with the happenings of their favorite games.
        </p>
      </div>
    </section>
  </article>
</div>
