<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Gotham City Impostors
      </h1>
      <div class="callout">
        <a href="http://www.gothamcityimpostors.com/">
          visit website
        </a>
      </div>
      <div class="section-header">
        <p>
          <span>
            Xbox 360/PS3/PC
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
        <%= image_tag "content/files/impostors_leaderboards.png" %>
        <%= image_tag "content/files/impostors_stats_comparison.png" %>
      </div>
      <div id="content">
      </div>
    </section>
  </article>
</div>
