<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Guardians of Middle-Earth
      </h1>
      <div class="callout">
      </div>
      <div class="section-header">
        <p>
          <span>
            Xbox 360/PS3
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
        <%= image_tag "content/files/Guardians_of_Middle-earth_Profile.png" %>
        <%= image_tag "content/files/Guardians_of_Middle-earth_(Leaderboard).png" %>
      </div>
      <div id="content">
      </div>
    </section>
  </article>
</div>
