<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Massive Action Game
      </h1>
      <div class="callout">
        <a href="http://blog.mag.com/blog/">
          visit website
        </a>
      </div>
      <div class="section-header">
        <p>
          <span>
            PS3
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
      </div>
      <div id="content">
      </div>
    </section>
  </article>
</div>
