<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        New International Track &amp; Field
      </h1>
      <div class="callout">
        <a href="http://en.wikipedia.org/wiki/New_International_Track_%26_Field">
          visit website
        </a>
      </div>
      <div class="section-header">
        <p>
          <span>
            Nintendo DS
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
      </div>
      <div id="content">
      </div>
    </section>
  </article>
</div>
