<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Transformers: The Game
      </h1>
      <div class="callout">
      </div>
      <div class="section-header">
        <p>
          <span>
            Nintendo DS
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
        <%= image_tag "content/portfolio/transformers-1.jpg" %>
        <%= image_tag "content/portfolio/transformers-2.jpg" %>
      </div>
      <div id="content">
        <h2>
          Overview
        </h2>
        <ul>
          <li>
            Persistent Online War
          </li>
          <li>
            WiFi Tokens
          </li>
          <li>
            Profiles
          </li>
          <li>
            Scoreboards
          </li>
          <li>
            Clans
          </li>
        </ul>
        <h3>
          Persistent Online War
        </h3>
        <p>
          Players download daily missions and contribute to their side&#39;s war effort in the Battle for the Allspark. There is a constant back and forth conflict that compels players to sign in and join the fight. After contributing, players are able to view their side&#39;s progress for the day and throughout the whole war by signing on to the community site.
        </p>
        <h3>
          WiFi Tokens
        </h3>
        <p>
          As players participate in the battle and help their side to victory they receive Wifi Tokens. Token counts are updated daily on the site and in game. This allows players to easily track their progress. Tokens are used to automatically unlock secret items and Transformers in the game.
        </p>
        <h3>
          Scoreboards
        </h3>
        <p>
          Scoreboards update in real-time, allowing players to check their progress in the Battle for the Allspark at any time. Players are also able to easily track their progress over time and see how they have improved. The scoreboards allow friends to view and compare each other&#39;s stats.
        </p>
        <h3>
          Clans
        </h3>
        <p>
          With the integration of clans players are able to easily track their friends&#39; data as well as their own.
        </p>
        <p>
          Design by Spiral Design Studio.
        </p>
      </div>
    </section>
  </article>
</div>
