%a#about
.snow{ data: { magellan: { destination: 'about' } } }

  .agora-intro.text-center
    .row
      .columns.large-6.large-push-3.medium-6.medium-push-3
        %h1
          = image_tag 'wb-agora.svg', alt: 'Agora', width: 233, height: 50
        %p
          Agora is a WB Games company that works with some of the top talent in
          the game industry to build online competitive and social features for
          video games. While we are a part of the WB Games family, we have
          worked with some of the best publishers in the world, including
          Activision, Bethesda, 2K Games, Bandai Namco Games, Microsoft, Sony,
          and Nintendo.

  .agora-stats.text-center
    .row
      .columns.large-4.medium-4
        %span.label.round
          %span.graded-text Games Launched
        .stat-wrapper
          .jumbo-stat
            %span.jumbo-stat__value.graded-text{ data: { countup: 40 } }<> 40
            %span.jumbo-stat__measure.graded-text<> +
        %p Over 40 AAA games have integrated Hydra to power the online gaming services.
      .columns.large-4.medium-4
        %span.label.round
          %span.graded-text Monthly Bandwidth
        .stat-wrapper
          .jumbo-stat
            %span.jumbo-stat__value.graded-text{ data: { countup: 42 } }<> 42
            %span.jumbo-stat__measure.graded-text<> TB
        %p Hydra processes over 42 terabytes of player generated data every month.
      .columns.large-4.medium-4
        %span.label.round
          %span.graded-text Players Tracked
        .stat-wrapper
          .jumbo-stat
            %span.jumbo-stat__value.graded-text{ data: { countup: 180 } }<> 180
            %span.jumbo-stat__measure.graded-text<> M
        %p 180 million players have played a game that has a Hydra-integrated feature on either next-gen consoles, PC, or mobile devices.
