%footer.snow.text-center
  .row
    .columns.large-12

      %ul.logos-list
        %li
          = image_tag 'agoragames-new.svg', alt: 'Agora Games', width: 131, height: 51

      %hr
      %p
        %span.nowrap © 2015 Agora Games.
        %span.nowrap All Rights Reserved.
