%footer.snow.text-center
  .row
    .columns.large-12
      %ul.logos-list
        %li
          = image_tag 'wb-agora.svg', alt: 'Agora', width: 233, height: 50, class: 'wb-agora'
        %li
          %span.nowrap © 2016 Agora.
          %span.nowrap All Rights Reserved.
