%footer.snow.text-center
  .row
    .columns.large-12
      %ul.logos-list
        %li
          = image_tag 'agoragames-new.svg', alt: 'Agora Games', width: 131, height: 51
        %li
          %span.nowrap © 2016 Agora Games.
          %span.nowrap All Rights Reserved.
