%ul.hero{ data: { orbit: true, options: 'slide_number: false' } }

  %li{ style: "background-image: url('#{image_path('slides/arkham-aerial.jpg')}'); background-position: left top" }
    .row
      .left-caption.left-caption--arkham
        %p
          %strong We’re expanding our team!
          %br
          Check out our job openings today.
        %a.button.button--arrows{ href: '/careers' } Apply here

  %li{ data: { background: image_path('slides/bg2.jpg') } }
    .row
      .left-caption.left-caption--hydra
        %p
          <a href='http://hydra.agoragames.com/'>Hydra</a>, an Agora product, evolving the game industry's best titles.
        %a.button.button--hydra.button--arrows{ href: 'https://hydra.agoragames.com/' } Check out Hydra

  %li{ data: { background: image_path('slides/bg3.jpg') } }
    .row
      .left-caption.left-caption--team
        %p
          Join
          %strong Agora
          on our quest for challenging adventures.
        %a.button.button--arrows{ href: '#team' }
          %span.graded-text Meet the team
