---
title: Agora Games | Jobs
---
.wrap
  article.clearfix
    header.center.clean
      h1
        strong> Work
        | at Agora
      .section-header
        p
          span
            | We're always hiring
            strong< good people
            = image_tag "icon-down.png"
    section
      .slides
        .slides-container style="display:none; height:320px"
          div
            = image_tag "content/game-testing_960_320.jpg", alt: "", height: "320", width: "960"
          div
            = image_tag "content/lounge-1_960_320.jpg", alt: "", height: "320", width: "960"
          div
            = image_tag "content/production_960_320.jpg", alt: "", height: "320", width: "960"
          div
            = image_tag "content/gnome_960_320.jpg", alt: "", height: "320", width: "960"
          div
            = image_tag "content/mortal-kombat-controller_960_320.jpg", alt: "", height: "320", width: "960"
    section#positions.clearfix
      h2.subhead.center
        | Available
        strong< Positions
      .button-outer
        .table
          ul.inline-buttons
            li
              a href="#" Software Engineer
      .content
        .half
          #jobs
            .jobs-container
              .slide
                h2 Software Engineer
                p
                  | As a Software Engineer at Agora Games, you will be working on our online game services platform called "Hydra Studio”.  You will be responsible for creating complex data processing and presentation tools that integrate tightly with some of the industry's biggest game franchises. You will work as part of a highly talented team of producers, engineers, and business specialists to expand the Hydra platform.
                p
                  em
                    strong We are looking for a candidate with the ability to quickly learn new platforms. We use many different technologies within Hydra, and while we don&rsquo;t expect you to know them all coming in, we need a candidate who can quickly learn and be proficient with them!
                p
                  strong Job Requirements:
                ul
                  li
                    | Experience delivering large, complex, highly available software systems
                  li 
                    | Experience developing and operating distributed systems
                  li
                    | Knowledge of design patterns, SOA, refactoring and unit testing
                  li
                    | Experience with web application servers, web development frameworks, proxy servers and relational databases
                  li
                    | A detail-oriented, organized thought process and the ability to act decisively under stressful conditions
                  li
                    | A proactive mindset and the ability to multitask and prioritize requirements
                  li
                    | A self-motivated work process and excellent communication skills
                  li
                    | An understanding of system optimization issues
                  li
                    | Experience with system monitoring tools
                  li
                    | Interest in working on-site at our office in Troy, NY
                p
                  strong Technologies we use:
                ul
                  li
                    | Languages: Ruby, C++, Python, C#, Java, Objective-C
                  li
                    | OS: Linux, Windows, OSX
                  li
                    | Databases: MySQL, MongoDB, Redis, PostgreSQL, RabbitMQ, ZeroMQ
                  li
                    | Web: Ruby on Rails, CSS, HTML, Javascript, node.js
                  li
                    | Misc: Chef, Git, Runit, SaltStack
                p
                  strong Employee Benefits:
                ul
                  li
                    | Competitive salaries
                  li
                    | Benefits: medical, dental, and vision programs for you and your dependents
                  li
                    | Company-matching 401K retirement program
                  li
                    | Flexible work hours
                  li
                    | A brand-new computer of your choice when you start
                  li
                    | An open & collaborative work space
                  li
                    | We value a good work-life balance
                  li
                    | Work on some of the biggest video games in the industry!
        .half.last.duck
          p
            strong We're looking for the best and the brightest!
          p
            | We're looking for applicants interested in working in our
            a<> href="http://www.google.com/maps/place?q=359+Broadway+Third+Floor+Troy,+NY+12180&hl=en&cid=13909529571852389274" office in Troy, NY
            | or in an awesome remote office.
          .break-down
            = image_tag "icon-down.png"
          form#apply-form.box.wufoo action="https://agoragames1.wufoo.com/forms/syqh5bw113il90/#public" method="post" autocomplete="off" enctype="multipart/form-data"
            h3 Submit an Application
            .hide
              textarea name="comment" id="comment" rows="1" cols="1"
              input type="hidden" id="idstamp" name="idstamp" value="cT5HWqIRe+CokuX7DS7vYBfHnD5HjUXEBxePrGCd1sw="
            p
              strong Position you&rsquo;d like to apply for:
            .radio-set
              ul.radio
                li
                  label
                    input name="Field10" type="radio" value="Software Engineer"
                    | Software Engineer
            .text
              input#input-name name="Field4" placeholder="Name" type="text"
            .text
              input#input-email name="Field5" placeholder="Email" type="email"
            #conditional
              .text
                input#input-twitter name="Field11" placeholder="Twitter" type="text"
              .text
                input#input-github name="Field12" placeholder="Github" type="text"
              .text
                input#input-website name="Field15" placeholder="Blog/Website" type="text"
            .textarea
              p
                strong Cover letter or introduction:
              textarea name="Field9"
            .submit
              input type="submit" value="Submit"
    section#perks.clearfix
      .section-header
        p
          span
            strong> Perks
            | and
            strong< Advantages
            = image_tag "icon-down.png"
      .col-three
        div style="height:82px;"
          = image_tag "content/images/placeholder-icon.png"
        h2 Job Benefits
        .box
          ul
            li
              strong Competitive salaries
            li
              strong> Fully paid medical, dental, and vision
              | programs for you and your dependents (no premiums!)
            li
              strong Company-matching retirement program
            li
              strong Flexible work hours
            li
              strong> A brand-new Mac
              | (or computer of your choice) when you start
            li
              | An
              strong<> open & collaborative
              | work space
            li
              | We value a
              strong< good work-life balance
            li
              | Join
              strong< highly-focused, all-star teams
      .col-three.middle
        div style="height:82px;"
          = image_tag "content/images/troy-icon.png"
        h2 Welcome to Troy
        .box
          p
            | Agora is located in downtown Troy, close to several premier Universities &ndash; including
            a< href="http://www.rpi.edu" Rensselaer Polytechnic Institute
            | , right up the hill from us. Historic Troy has stately architecture and tons of great places to eat and shop. We are two and a half hours from New York City and three hours from Boston and Montreal, and with the Adirondacks in our backyard, skiing, hiking, boating, biking and other outdoor activities are available year-round.
      .col-three
        div style="height:82px;"
          = image_tag "content/images/placeholder-icon.png"
        h2 Local Resources
        .box
          ul
            li
              a href="http://troynightout.org/"
                strong Troy Night Out
            li
              a> href="http://empac.rpi.edu/"
                strong EMPAC
              | (world-renowned cutting edge performance space)
            li
              a> href="http://www.spac.org/"
                strong SPAC
              | (Saratoga Performing Arts Center - great concerts, great night life, 45 minute drive)
            li
              a> href="http://www.massmoca.org/"
                strong Mass MoCA
              | (one hour drive)
            li
              a> href="http://www.artscenteronline.org/"
                strong The Arts Center of the Capital Region
              | (three blocks from our offices)
            li
              a href="http://www.bikely.com/listpaths/country/254/region/154/city/10229"
                strong Troy bike paths
            li
              a> href="http://www.brownsbrewing.com/"
                strong Our local brewery
              | (
              a> href="http://www.bizjournals.com/albany/blog/2011/05/troy-brewpub-33rd-largest-in-us.html?ana=twt"
                | 33rd largest
              | in the country)
            li
              a href="http://www.troymarket.org/"
                strong Weekly farmer's market
            li
              a href="http://alloveralbany.com/"
                strong Capital Region blog
            li
              a href="http://www.zillow.com/homes/troy-ny_rb/"
                strong Reasonable property rates
            li
              a href="http://albany.craigslist.org/search/hhh?query=troy&srchType=A&minAsk=&maxAsk=&bedrooms="
                strong Competitive rent costs
